
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f9;
            color: #333;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 3px;
            position: absolute;
            z-index: 1;
          }
          #startLivenessButton {
            background-color: #4CAF50; /* Original background color */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
          }
          #startLivenessButton:hover {
            background-color: #3e8e41; /* Darker green on hover */
          }
          
          #startLivenessButton:hover .tooltiptext {
            visibility: visible;
          }
          #startLivenessButton[disabled] {
            background-color: #c8e6c9; /* Light green when disabled */
            color: #666; /* Gray text when disabled */
            cursor: default; /* Change cursor to default */
          }
          #startLivenessButton[disabled]:hover {
            background-color: #78b27a; /* Keep original color when disabled */
            cursor: default; /* Change cursor to default */
          }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .section {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: calc(25% - 40px); /* Four cards in a row with space */
            border-radius: 8px;
            transition: transform 0.2s;
            box-sizing: border-box;
        }

        .section img {
            max-width: 200px; /* Adjust as needed */
            max-height: 300px; /* Adjust as needed */
            margin: 10px auto; /* Center the image */
            display: block;
          }

        .section:hover {
            transform: translateY(-5px);
        }
        .section.hidden {
            display: none;
          }

        h1 {
            margin-bottom: 30px;
            font-weight: 500;
        }

        h2 {
            margin-bottom: 15px;
            color: #4CAF50;
        }

        input[type="text"],
        input[type="password"],
        input[type="number"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .checkbox-container input[type="checkbox"] {
            margin-right: 5px;
        }
        .inline-radio {
            display: inline-block;
             margin-right: 15px;
        }

        @media (max-width: 1200px) {
            .section {
                width: calc(33.33% - 40px); /* Three cards in a row with space */
            }
        }

        @media (max-width: 992px) {
            .section {
                width: calc(50% - 40px); /* Two cards in a row with space */
            }
        }

        @media (max-width: 768px) {
            .section {
                width: calc(100% - 40px); /* Full width on small screens */
            }
        }
      .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,0.5);
      }
      
      .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        width: 300px;
        border-radius: 8px;
        text-align: center;
      }
      
      .modal-content input {
        width: 90%;
        padding: 8px;
        margin-top: 10px;
      }
      
      .modal-buttons button {
        margin: 10px 5px;
        padding: 8px 12px;
      }
